.name {
    font-weight: bold;
    font-size: large;
    color: rgb(96, 202, 231);

}

.capital {
    color: rgb(33, 154, 234);
}

.population {
    color:rgb(98, 81, 224)
}

.flag {
    color: rgb(83, 187, 152);
}

.flag-pic {
    border-radius: 15px;
    border: solid rgb(83, 187, 152)
}

.coatOfArms {
    max-width: 75px;
    color: rgb(53, 208, 157);
}

.red {
    color: red;
}

.underline {
    text-decoration: underline;
}

